.app {

    height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #f0f0f0;
        z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.app .form_wrapper{

    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 48, 48, 48, 0.7 );


}

.app .show_form{

    display: flex;
    justify-content: center;
    align-items: center;

}

.notDisplay{
  display: none !important;
}

main{

    height: auto;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

#feed{

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;

}

.add_button{

    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 40px;
    right: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background: #fd5523;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
    cursor: pointer;

}

.add_button.show{
    display: flex;
}

.add_button img{

    height: auto;
    width: 25px;

}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

@media (prefers-reduced-motion: no-preference) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}
