.ad_tile{

	height: 100px;
	width: 500px;
	display: flex;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	background: #fff;
	color: rgba( 0 ,0, 0, 0.8 );

}

.ad_tile .img{

	height: 100%;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: rgba( 224, 224, 224, 0.7 );

}

.ad_tile .img img{

	height: 50%;
	width: auto;
	opacity: 0.8;

}

.ad_tile .info{

	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}

.ad_tile .info .utils{

	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.ad_tile .info .title{

	padding: 0 20px;
	text-align: left;
	font-family: Cereal_Bold;
	font-size: 1.2em;

}

.ad_tile .info .description{

	padding: 0 20px;
	text-align: left;
	font-family: Cereal_Book;
	font-size: 0.8em;

}
