#dashboard{

	height: auto;
	min-height: 155px;
	width: 600px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 30px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	background: #35685B;
	font-family: Cereal_Book;
	font-size: 1em;
	color: rgba( 255, 255, 255, 0.8 );

}

#dashboard.show{
	display: flex;
}

#dashboard p{
	margin: 0;
}

.switch_wrapper{

	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px;

}

.statistics{

	margin: 15px 0 0 0 !important;
	font-family: Cereal_Bold;
	font-size: 0.8em;
}

/*  switch  */
#dashboard input[type=radio]{
	height: 0;
	width: 0;
	visibility: hidden;
	appearance: none;
}

#dashboard label {
	cursor: pointer;
	width: 50px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
	margin: 0;
}

#dashboard label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#dashboard .switch:checked + label {
	background: #37966f;
}

#dashboard .switch:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#dashboard label:active:after {
	/*width: 50px;*/
}
