/* BASE */
@import "./base/normalize.css";
@import "./base/index.css";


/* COMPONENTS */
@import "./components/LogInForm.css";
@import "./components/ad.css";
@import "./components/navbar.css";


/* PAGES */
@import "./pages/App.css";




/* FONTS */
@font-face {

	font-family: "Cereal_Book";
	src: url( "../assets/fonts/cereal/AirbnbCerealBook.ttf" );

}

@font-face {

	font-family: "Cereal_Medium";
	src: url( "../assets/fonts/cereal/AirbnbCerealMedium.ttf" );

}

@font-face {

	font-family: "Cereal_Bold";
	src: url( "../assets/fonts/cereal/AirbnbCerealBold.ttf" );

}

@font-face {

	font-family: "Cereal_ExtraBold";
	src: url( "../assets/fonts/cereal/AirbnbCerealExtraBold.ttf" );

}

@font-face {

	font-family: "Cereal_Black";
	src: url( "../assets/fonts/cereal/AirbnbCerealBlack.ttf" );

}
