/* BASE */
@import "./base/normalize.css";
@import "./base/index.css";


/* COMPONENTS */
@import "./components/LogInForm.css";

/* PAGES */
@import "./pages/App.css";




/* FONTS */
/*@font-face {

	font-family: ;
	src: url(  );

}*/
